
/* * é o seletor de todos os elementos da página */
* {
    padding: 1px;
    margin: 1px;
}

/* seletor de tag */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    background-color: red;
}

.p2 {
    background-color: blue;
}

/* 3 - o elemento aumenta em 3 vezes o tamanho dos demais. 
0 - o elemento NÃO pode aumentar. */
.p3-grow {
    background-color: greenyellow;
    flex-grow: 2;
}

/* 1 - o elemento pode encoler. 
0 - o elemento NÃO pode encoler. */
.p3-shrink {
    background-color: greenyellow;
    flex-shrink: 0;
}

.parte {
    width: 250px;
    height: 250px;
}

.container {
    /* height: 100px; */

    margin: 5px;
    background-color: darkgray;
    color: white;

    /* display: block; */
    display: flex;
    /* passa ser uma grande linha e todos os elementos filhos passam a preencher 
    essa grande linha da esquerda p/ direita... */
    flex-direction: row;

    align-items: center;
}


